*{
  user-select: all;
  margin:auto;
  padding:;
  box-sizing = border-box;
  height:1cm;
}

.app{
  background-size: 1cm;
 background-color:azure;
 outline-color: black;
 column-rule-color: brown;
 height:100vh

}
header{
  border-style:ridge;
  border-color: black;
  flood-color: black
  colour:black;
  height: 3cm;
}
main{
  border-style:ridge;
  border-color: black;
  color: #2b89e2;
  height:10cm;
}
footer{
  border-style:ridge;
  border-color: black;
  color: #2b89e2;
  height:10cm;
}